<a href="https://colab.research.google.com/github/shrivashadi/python.Adi/blob/main/Aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question - 1

In [ ]:
name = "Aditya"
print(name)

Aditya

Question- 2

In [ ]:
text = "hello world"
length = len(text)
print(length)

11

question- 3

In [ ]:
text = "python programming"
sliced_text = text[:3]
print(sliced_text)

pyt

Question 4

In [ ]:
text = "hello"
uppercase_text =text.upper()
print(uppercase_text)

HELLO

question- 5

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
(new_text)

'I like orange'

question - 6

In [ ]:
# Create a list with number from 1 to 5
my_list = [1,2,3,4,5]

# print the list
print(my_list)

[1, 2, 3, 4, 5]

Question-7

In [ ]:
# The initial list
my_list = [1,2,3,4]

# Append the number 10 to the last
my_list.append(10)

# Print the modified list
print(my_list)

[1, 2, 3, 4, 10]

Question-8

In [ ]:
# The initial list
my_list = [1,2,3,4,5]

# Remove the number 3 from the list
my_list.remove(3)

#print the modified list
print(my_list)

[1, 2, 4, 5]

Question-9

In [ ]:
my_list = ['a','b','c','d']
# Accessing the second element (which is at index 1)
second_element = my_list[1]

print(second_element)

b

Question-10

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Question-11

In [ ]:
# Create a tuple with the elements 100,200,300
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

Question- 12

In [ ]:
# Create the givan tuple
my_tuple = (10, 20, 40, 50, 40, 10, 40)

#Find the number of time 40 appears in the tuple
count_of_40 = my_tuple.count(40)

# Print the result
print("The number of times 40 appears in the tuple is:", count_of_40)

The number of times 40 appears in the tuple is: 3

Question-13

In [ ]:
# Create the givan tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Find the second_to_last element
# In python, negtive indexing can be used to access elements from the and of a tuple (or list).
# -1 refers to the last element, -2 refers to the second-to-last, and so on
second_to_last_element = my_tuple[-2]

# Print the result
print("The second-to-lastelement of the tuple is:", second_to_last_element)

The second-to-lastelement of the tuple is: blue

Question- 14

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

Question-15

In [ ]:
fruits_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in fruits_tuple:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is not in the tuple.

Question-16

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Question-17

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Question-18

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Question-19

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
# Alternatively, you can use the | operator:
# union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5}

Question-20

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
# Alternatively, you can use the & operator:
# intersection_set = set1 & set2

print(intersection_set)

{2, 3}

Question-21

In [ ]:
my_dict = {"name": "Alice",
           "age": 30,
           "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

Question-22

In [ ]:
my_dict = {'name': 'jhon', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'jhon', 'age': 25, 'country': 'USA'}

Question-23

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

Question-24

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Question-25

In [ ]:
my_dict = {'name': 'Alice', 'city': 'paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary. ")
else:
    print("the key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Question-26

In [ ]:
# Create a list
my_list = [10, 20, 30, 'apple', 'banana']

# Create a tuple
my_tuple = (1, 2, 3, 'red', 'green')

# Create a dictionary
my_dictionary = {
    "name": "John Doe",
    "is_student": False
}



# Print them all
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: [10, 20, 30, 'apple', 'banana']
My Tuple: (1, 2, 3, 'red', 'green')
My Dictionary: {'name': 'John Doe', 'is_student': False}

Question-27

In [ ]:
import random
# Create a list to store the random numbers
random_numbers =[]

# Generate 5 random numbers between 1 and 100 (inclusive) for _ in range (5): random_numbers.app end(random.randint(1, 100))

print("orignal list of random number:" , random_numbers)

# Sort the list in ascending or order random_number.sort()

print("Sorted list (ascending):", random_numbers)

orignal list of random number: []
Sorted list (ascending): []

Question- 28

In [1]:
my_list_of_strings = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the thied index (index 2)
print("The element at the third index is:", my_list_of_strings[2])

The element at the third index is: cherry

Question-29

In [3]:
dict1 = {"name": "Alice", "age": "30"}
dict2 = {"city": "New York", "occupation": "Engineer"}

# Method 1: Using update()
combined_dict = {}
combined_dict.update(dict1)
combined_dict.update(dict2)

# Method 2: Using ** operator (Python 3.5+)
# Combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': '30', 'city': 'New York', 'occupation': 'Engineer'}

Question-30

In [4]:
my_list_of_strings = ["apple", "banana", "cherry", "apple", "date", "banana"]

# Convert the list of strings into a set
my_set_from_list = set(my_list_of_strings)

print("Original list:", my_list_of_strings)
print("Converted set:", my_set_from_list)

Original list: ['apple', 'banana', 'cherry', 'apple', 'date', 'banana']
Converted set: {'cherry', 'apple', 'date', 'banana'}