# Python structure

# TQ1:- What are data structures, and why are they important?
       - Data structures are specialized formats for organizing, storing, and managing data in a computer so that it can be used efficiently.

They are important because:

‚úÖ Efficient Access & Modification: Data structures help in organizing data in a way that makes it easier and faster to access, insert, delete, or update.

‚úÖ Optimized Memory Use: They allow programs to use memory wisely and avoid unnecessary duplication.

‚úÖ Problem Solving: Some algorithms require specific data structures (like stacks, queues, trees, graphs) to solve problems correctly and efficiently.

‚úÖ Code Reusability & Maintenance: Well-structured data improves readability and maintainability of code.

Examples:

List, Tuple, Set, Dictionary in Python

Array, LinkedList, Stack, Queue, Tree, Graph in general

#TQ2:- Explain the difference between mutable and immutable data types with examples
      - In Python, data types are classified as:

üîÅ Mutable ‚Äì can be changed after creation
üîí Immutable ‚Äì cannot be changed after creation
‚úÖ Mutable Data Types:
You can modify, add, or remove elements.

Changes affect the original object.

Examples:

List, Set, Dictionary

python
Copy
Edit
my_list = [1, 2, 3]
my_list.append(4)  # Now it becomes [1, 2, 3, 4]
‚úÖ Immutable Data Types:
Cannot be changed after they are created.

Any change creates a new object.

Examples:

int, float, string, tuple

python
Copy
Edit
my_string = "hello"
my_string = my_string + " world"  # Creates a new string object
Key Difference:

Mutable = Changeable (modifies in place)

Immutable = Fixed (any change creates a new object)

#TQ3:- What are the main differences between lists and tuples in Python?
      - Feature          	List	            Tuple
      
Mutability	‚úÖ Mutable (can be changed)	üîí Immutable (cannot be changed)
Syntax	[1, 2, 3] (square brackets)	(1, 2, 3) (parentheses)
Performance	Slower due to mutability	Faster due to immutability
Use Cases	When data may change	When data should remain constant
Methods Available	Many built-in methods like .append(), .remove()	Very few methods available
Memory Usage	Uses slightly more memory	More memory-efficient

In [ ]:
# List
my_list = [1, 2, 3]
my_list.append(4)

# Tuple
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  ‚ùå Error: Tuples are immutable

#TQ4:-  Describe how dictionaries store data
       - In Python, a dictionary stores data as key-value pairs inside curly braces {}.

>How it works:-Python dictionaries use a hash table internally.

Each key is hashed (converted to a unique number).

This hash helps quickly find the value associated with a key ‚Äî making lookup time O(1) (constant time on average).
  > Characteristics:
Unordered (before Python 3.7): No guaranteed order of items.

Unique keys: Duplicate keys are not allowed.

Fast access: You can retrieve values quickly using the key.

#TQ5:- Why might you use a set instead of a list in Python?
       -  1. You need unique values
Sets automatically remove duplicates-
 my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}
 2. You want fast membership testing
in is faster in sets (O(1)) vs lists (O(n))-
5 in my_set  # Very fast in sets

3. You need set operations
Sets support mathematical operations like:

union()

intersection()

difference()
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)  # Output: {3}

#TQ6:- What is a string in Python, and how is it different from a list?
      -  String in Python:
A string is a sequence of characters enclosed in quotes (' ', " ", or ''' ''').
  Key Differences Between String and List:-
  | Feature             | **String**             | **List**                           |
| ------------------- | ---------------------- | ---------------------------------- |
| **Data type**       | Sequence of characters | Sequence of any data types         |
| **Mutable**         | ‚ùå Immutable            | ‚úÖ Mutable                          |
| **Elements**        | Only characters        | Can contain numbers, strings, etc. |
| **Syntax**          | `"hello"`              | `['h', 'e', 'l', 'l', 'o']`        |
| **Modifying items** | Not allowed            | Allowed                            |

In [ ]:
# String (immutable)
s = "hello"
# s[0] = 'H' ‚ùå Error: strings are immutable

# List (mutable)
l = ['h', 'e', 'l', 'l', 'o']
l[0] = 'H'  # ‚úÖ Now l becomes ['H', 'e', 'l', 'l', 'o']

#PQ7:- How do tuples ensure data integrity in Python?
      -  Tuples are Immutable
Once a tuple is created, its elements cannot be changed, added, or removed.

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  ‚ùå Error: 'tuple' object does not support item assignment
 How This Ensures Data Integrity:
Prevents accidental modifications to critical data.

Useful when passing fixed data (like coordinates, configuration) that should remain constant.

Helps maintain consistency and reliability in programs.

user_info = ("Aditya", "Male", "India")  # fixed identity info

#TQ8:-  What is a hash table, and how does it relate to dictionaries in Python?
       - What is a Hash Table?
A hash table is a data structure that stores data in key-value pairs using a hash function.

It converts a key into a unique index (called a hash code).

The value is stored at that index in memory.

This allows for very fast lookup, insertion, and deletion ‚Äî average time complexity is O(1).

 How It Relates to Dictionaries in Python:
Python‚Äôs dict (dictionary) is implemented using a hash table.

Keys in a dictionary are hashed to find the location of their associated value.
my_dict = {"name": "Aditya", "age": 22}

In [ ]:
student = {"roll": 101, "name": "Ravi"}
print(student["name"])  # Direct access using hashed key

Ravi

#TQ9:- Can lists contain different data types in Python?
       - Examples of Mixed Data Types in a List:
       mixed_list = [1, "hello", 3.14, True, [5, 6], {"a": 1}]
       This list contains:

An integer ‚Üí 1

A string ‚Üí "hello"

A float ‚Üí 3.14

A boolean ‚Üí True

A nested list ‚Üí [5, 6]

A dictionary ‚Üí {"a": 1}

Why It‚Äôs Possible:
Python is dynamically typed, meaning variable types are flexible and decided at runtime.

Lists are built to store references to objects, not fixed data types.

Useful when you need a collection of different kinds of information together:

person = ["Aditya", 22, True, ["Python", "Java"]]

#TQ10:- Explain why strings are immutable in Python
        - Why Are Strings Immutable?
Memory Efficiency:

Immutable objects can be safely shared between parts of a program without unexpected changes.

Hashing & Dictionary Keys:

Strings can be used as keys in dictionaries only because they‚Äôre immutable and their hash value doesn‚Äôt change.

Security & Reliability:

Prevents accidental or malicious modification of critical text data.

 What Happens Internally:
Python creates a new string object and assigns it to the same variable.

In [1]:
# Example
s = "hello"
s = s + " world"
print(s)  # Output: "hello world"

hello world

#TQ11:- What advantages do dictionaries offer over lists for certain tasks?
       - Dictionaries offer several key advantages over lists when you need to work with key-value pairs or perform fast lookups.

 1. Faster Data Access
Ditionaries provide O(1) time complexity for lookups using keys (thanks to hash tables).

Lists require a linear search (O(n)) to find an element.

 2. Key-Value Mapping
Dictionaries allow mapping of meaningful keys to values (e.g., "username": "aditya123"), which is more readable and logical than using index numbers in lists.

4. Ideal for Structured Data
Suitable for JSON-like data, configurations, records, user profiles, etc.
  | Feature      | **List**           | **Dictionary**  |
| ------------ | ------------------ | --------------- |
| Access by    | Index              | Key             |
| Lookup speed | Slower (O(n))      | Faster (O(1))   |
| Data format  | Ordered collection | Key-value pairs |
| Readability  | Lower              | Higher          |

In [2]:
#Faster data access
my_dict = {"name": "Aditya", "age": 22}
print(my_dict["age"])  # ‚úÖ Fast direct access

#3. No Need to Remember Index Positions
# Dictionary
student = {"roll": 101, "name": "Ravi"}

# List (less readable)
student_list = [101, "Ravi"]

22

#TQ12:- Describe a scenario where using a tuple would be preferable over a list
       -  Scenario: Storing GPS Coordinates
Suppose you're developing a location-tracking app and you want to store latitude and longitude of a place. These values should not change once defined:
Using a tuple is better here than a list because:

The data is fixed and should not be changed.

Tuples are immutable, so it guarantees data integrity.

Slightly faster and more memory-efficient than lists.

 Other Real-World Examples:
Database records ‚Äì Each row returned from a database query can be stored as a tuple.

Function return values ‚Äì When returning multiple fixed values.

Dictionaries keys ‚Äì Only immutable types (like tuples) can be used as dictionary keys.

python
Copy
Edit

In [4]:
location = (28.6139, 77.2090)  # Tuple for Delhi coordinates

#Other Real-World Examples:
coordinates_map = {
    (28.6139, 77.2090): "Delhi",
    (19.0760, 72.8777): "Mumbai"
}

#TQ13:-How do sets handle duplicate values in Python?
       - ets Automatically Remove Duplicates
In Python, a set is an unordered collection of unique elements.
When you add duplicate values to a set, only one copy is kept.

 Example:my_set = {1, 2, 2, 3, 3, 3}
print(my_set)  # Output: {1, 2, 3}
 Why This Happens:
Sets are implemented using hash tables, where each element must be unique.

If a duplicate hash already exists, the new value is ignored.

 Use Case:
Removing duplicates from a list:

In [5]:
my_list = [1, 2, 2, 3, 4, 4]
unique = set(my_list)
print(unique)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

#TQ14:- How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
      - In Lists:
The in keyword checks whether a value exists in the list.

my_list = [10, 20, 30]
print(20 in my_list)  # ‚úÖ True ‚Äî checks values
 Summary Table:
 | Structure      | `in` checks for... | Example                | Output |
| -------------- | ------------------ | ---------------------- | ------ |
| **List**       | Value              | `10 in [10, 20]`       | `True` |
| **Dictionary** | Key                | `"age" in {"age": 22}` | `True` |

In [6]:
#In Lists:
my_list = [10, 20, 30]
print(20 in my_list)  # ‚úÖ True ‚Äî checks values

#In Dictionaries
my_dict = {"name": "Aditya", "age": 22}
print("name" in my_dict)  # ‚úÖ True ‚Äî checks for key
print("Aditya" in my_dict)  # ‚ùå False ‚Äî "Aditya" is a value

True
True
False

#TQ15:- Can you modify the elements of a tuple? Explain why or why not.
       - No, you cannot modify the elements of a tuple.
Tuples in Python are immutable, meaning:

Once created, their elements cannot be changed, added, or removed.

Why Tuples Are Immutable:
Data Safety ‚Äì Protects constant data from accidental changes.

Hashable ‚Äì Tuples can be used as keys in dictionaries (lists can't).

Performance ‚Äì Tuples are faster and more memory-efficient than lists.

 Exception:
If a tuple contains a mutable object (like a list), the mutable object inside can be modified ‚Äî but the tuple structure itself still can't be changed.

In [7]:
# Example:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  ‚ùå Error: 'tuple' object does not support item assignment

#Exception:
t = ([1, 2], 3)
t[0].append(4)  # ‚úÖ Allowed
print(t)  # Output: ([1, 2, 4], 3)

([1, 2, 4], 3)

#TQ16:-What is a nested dictionary, and give an example of its use case
       - What is a Nested Dictionary?
A nested dictionary is a dictionary inside another dictionary.

It allows storing hierarchical or structured data, like multiple records or grouped information.
Use Case:
‚úÖ Nested dictionaries are used when:

You store data about multiple entities, like:

Student records

Product catalogues

API responses (e.g., JSON)

Config settings

In [11]:
# Example:
student = {
    "name": "Aditya",
    "marks": {
        "math": 85,
        "science": 90
    },
    "address": {
        "city": "Delhi",
        "pin": 110001
    }
}

#TQ17:- Describe the time complexity of accessing elements in a dictionary
        -  Average Time Complexity: O(1)
Accessing an element in a Python dictionary using a key is very fast ‚Äî constant time, on average.
 Worst-Case Time Complexity: O(n)
In rare cases (like hash collisions), access time can degrade to O(n).
But this is uncommon due to Python‚Äôs efficient hash functions and internal handling.
 | Operation        | Average Time | Worst Time |
| ---------------- | ------------ | ---------- |
| Access by key    | O(1)         | O(n)       |
| Insertion/Update | O(1)         | O(n)       |
| Deletion by key  | O(1)         | O(n)       |
hy It's Fast:
Keys are hashed, and the hash maps directly to a memory index.

This avoids searching through all elements like in a list.

#TQ18:-In what situations are lists preferred over dictionaries?
        Use lists when:
‚úÖ 1. Order Matters
Lists preserve insertion order and support indexing (list[0]).

‚úÖ 2. Sequential Data Without Labels
When you just need to store a sequence of values, not key-value pairs.

‚úÖ 3. Iteration by Position
When looping through items by index is useful

‚úÖ 4. Duplicates Are Allowed
Lists can store repeating values, unlike sets.

‚úÖ 5. Simplicity
When no additional structure is needed (e.g., storing 5 test scores).

| Situation                               | Use List |
| --------------------------------------- | -------- |
| Data has **no keys**, just values       | ‚úÖ Yes    |
| You need **ordered** data               | ‚úÖ Yes    |
| You allow **duplicates**                | ‚úÖ Yes    |
| You access data **by position (index)** | ‚úÖ Yes    |
| You prefer **simplicity**               | ‚úÖ Yes    |

In [12]:
# Order Matters
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana

#Sequential Data Without Labels
temperatures = [30, 32, 31, 29]

#Iteration by Position
for i in range(len(fruits)):
    print(fruits[i])

# Duplicates Are Allowed
[1, 2, 2, 3]  # ‚úÖ Valid

banana
apple
banana
cherry

[1, 2, 2, 3]

#TQ19:-hy are dictionaries considered unordered, and how does that affect data retrieval?
     -hy are dictionaries considered unordered, and how does that affect data retrieval?
      Why Dictionaries Are Considered Unordered (Before Python 3.7)
In earlier versions of Python (before 3.7), dictionaries did not guarantee the order of items.

They were implemented using hash tables, and the key-value pairs were stored based on hash values, not insertion order.

 From Python 3.7+, Dictionaries Preserve Insertion Order
Dictionaries now maintain the order in which keys are added.
 How This Affects Data Retrieval:
‚úÖ You access values by key, not position.

python
Copy
Edit
print(d["b"])  # Output: 2
‚ùå You can't rely on index-based access like d[0].

‚ö†Ô∏è You shouldn't use order-based logic when writing cross-version compatible code.

 Summary:
Aspect	Dictionary
Order guaranteed?	‚úÖ From Python 3.7 onward
Access method	By key (not index)
Position-based retrieval	‚ùå Not supported

#TQ20:- Explain the difference between a list and a dictionary in terms of data retrieval
       - 1. Retrieval by Index vs Key
| Feature       | **List**                       | **Dictionary**                    |
| ------------- | ------------------------------ | --------------------------------- |
| Access Method | By **index** (e.g., `list[0]`) | By **key** (e.g., `dict["name"]`) |
| Example       | `fruits[1] ‚Üí 'banana'`         | `student["age"] ‚Üí 22`             |

üîπ 2. Type of Data Stored
List: Ordered collection of items (e.g., [10, 20, 30])

Dictionary: Unordered (pre-3.7) or ordered (3.7+) mapping of keys to values (e.g., {"name": "Aditya"})

üîπ 3. Use Case
Use a list when you just need a sequence of values.

Use a dictionary when you want to label your data for fast and meaningful retrieval.

In [13]:
# List
marks = [85, 90, 75]
print(marks[1])  # Output: 90

# Dictionary
student = {"math": 85, "science": 90, "english": 75}
print(student["science"])  # Output: 90

90
90

#Practicle Question:-

#String-Based

#PQ1. Write a code to create a string with your name and print it

In [14]:
name = "Aditya Sen"
print(name)

Aditya Sen

PQ2:- PQ2. Find the length of the string "Hello World"

In [16]:
text = "Hello World"
print(len(text))  # Output: 11

11

#PQ3. Slice the first 3 characters from the string "Python Programming"

In [15]:
sentence = "Python Programming"
sliced = sentence[:3]
print(sliced)  # Output: Pyt

Pyt

#PQ4. Convert the string "hello" to uppercase

In [18]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)  # Output: HELLO

HELLO

#PQ5. Replace the word "apple" with "orange" in the string "I like apple"

In [17]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)  # Output: I like orange

I like orange

# List-Based:-

#PQ6. Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

# PQ7. Append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)  # Output: [1, 2, 3, 4, 10]

# PQ8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)  # Output: [1, 2, 4, 5]

# PQ9. Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: b

# PQ10. Reverse the list [10, 20, 30, 40, 50]

In [19]:
items = [10, 20, 30, 40, 50]
items.reverse()
print(items)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

#Tuple-Based:-

#PQ11. Create a tuple with the elements 100, 200, 300 and print it

In [20]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# PQ12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

#PQ13. Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))  # Output: 5

# PQ14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index("cat")
print(index)  # Output: 1

#PQ15. Create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)  # Output: True

# Set-Based:-

#PQ16. Create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)  # Output: {'a', 'b', 'c'} (order may vary)

#PQ17. Clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # Output: set()

# PQ18. Remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

#PQ19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# PQ20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)  # Output: {2, 3}

{2, 3}

# PQ21. Create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
person = {
    "name": "Aditya",
    "age": 22,
    "city": "Kolkata"
}
print(person)

{'name': 'Aditya', 'age': 22, 'city': 'Kolkata'}

# PQ22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)  # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'John', 'age': 25, 'country': 'USA'}

#Q23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [24]:
info = {'name': 'Alice', 'age': 30}
print(info["name"])  # Output: Alice

Alice

#PQ24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [25]:
profile = {'name': 'Bob', 'age': 22, 'city': 'New York'}
profile.pop("age")
print(profile)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

#PQ25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)  # Output: True

True

#Mixed-Advance:-

#PQ26:-PQ26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {
    "name": "Aditya",
    "age": 22
}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Aditya', 'age': 22}

#PQ27:-PQ27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [28]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted Random Numbers:", numbers)

Sorted Random Numbers: [33, 59, 61, 68, 74]

# PQ28. Create a list with strings and print the element at the third index

In [29]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", words[3])  # Output: date

Element at index 3: date

#PQ29. Combine two dictionaries into one and print the result

In [30]:
dict1 = {"name": "Aditya", "age": 22}
dict2 = {"city": "Kolkata", "country": "India"}

combined = {**dict1, **dict2}
print("Combined Dictionary:", combined)

Combined Dictionary: {'name': 'Aditya', 'age': 22, 'city': 'Kolkata', 'country': 'India'}

#PQ30. Convert a list of strings into a set

In [ ]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print("Set:", string_set)  # Output: {'apple', 'banana', 'cherry'} (order may vary)